{% extends "base/modal-base.html.twig" %}
{% block modalName %}
<div class="modal fade" id="EditUserModal" tabindex="-1" role="dialog" aria-labelledby="EditUserModalLabel" aria-hidden="true">
{% endblock %}    
{% block modalTitle %}
<h5 class="modal-title" id="exampleModalLabel">编辑用户</h5>
{% endblock %}
{% block modalForm %}  
<div class="modal-body">
    <div class="d-flex justify-content-center align-items-center">
        <form id="editUserForm" class="w-75" style="font-size:0.8rem;">
            <div class="form-group">
                <label>用户名</label>
                <input id="username" type="text" name="username" class="form-control" disabled="disabled" value="{{modalUserInfo['username']}}">
            </div>
            <div class="form-group" {% if modalUserInfo[ 'id']==currentUserId %}{{ 'style="display:none;"'}}{% endif %}>
                <label>角色</label></br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="eRadio11" type="radio" name="role" value="admin" {% if modalUserInfo[ 'role']=='admin' %}{{ 'checked'}}{% endif %}>
                    <label class="form-check-label" for="eRadio11">管理员</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="eRadio12" type="radio" name="role" value="member" {% if modalUserInfo[ 'role']=='member' %}{{ 'checked'}}{% endif %}>
                    <label class="form-check-label" for="eRadio12">成员</label>
                </div>
            </div>
            <div class="form-group">
                <label>真实姓名</label>
                <input id="realname" type="text" name="realname" class="form-control" value="{{modalUserInfo['realname']}}">
            </div>
            <div class="form-group">
                <label>邮箱</label>
                <input id="mailInput" type="email" name="mail" class="form-control" value="{{modalUserInfo['mail']}}">
                <label id="mailError" class="error" style="display:none;"></label>
            </div>
            <div class="form-group">
                <label>年龄</label>
                <input id="age" type="text" name="age" class="form-control" value="{{modalUserInfo['age']}}">
            </div>
            <div class="form-group">
                <label>职业</label></br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="inline11" type="radio" name="work2" value="0" {{ modalUserInfo[ 'work']==0 ? 'checked' : '' }}>
                    <label class="form-check-label" for="inline11">学生</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="inline12" type="radio" name="work2" value="1" {{ modalUserInfo[ 'work']==1 ? 'checked' : '' }}>
                    <label class="form-check-label" for="inline12">上班族</label>
                </div>
            </div>
            <div class="form-group">
                <label id="orgName2">{{ modalUserInfo[ 'work']==0 ? '学校' : '公司' }}</label>
                <input type="text" id="orgNameInput2" name="{{ modalUserInfo[ 'work']==0 ? 'schoolName' : 'companyName' }}" class="form-control" value="{{modalUserInfo['org']}}">
            </div>
            <div class="form-group">
                <label>兴趣爱好</label></br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="gamecheckbox1" type="checkbox" name="hobby[]" value="game" {% if 'game' in modalUserInfo[ 'hobby'] %}{{ 'checked'}}{% endif %}>
                    <label class="form-check-label" for="gamecheckbox1">游戏</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="footballcheckbox1" type="checkbox" name="hobby[]" value="football" {% if 'football' in modalUserInfo[ 'hobby'] %}{{ 'checked'}}{% endif %}>
                    <label class="form-check-label" for="footballcheckbox1">足球</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="basketballcheckbox1" type="checkbox" name="hobby[]" value="basketball" {% if 'basketball' in modalUserInfo[ 'hobby'] %}{{ 'checked'}}{% endif %}>
                    <label class="form-check-label" for="basketballcheckbox1">篮球</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="singcheckbox1" type="checkbox" name="hobby[]" value="sing" {% if 'sing' in modalUserInfo[ 'hobby'] %}{{ 'checked'}}{% endif %}>
                    <label class="form-check-label" for="singcheckbox1">唱歌</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="dancecheckbox1" type="checkbox" name="hobby[]" value="dance" {% if 'dance' in modalUserInfo[ 'hobby'] %}{{ 'checked'}}{% endif %}>
                    <label class="form-check-label" for="dancecheckbox1">舞蹈</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="musiccheckbox1" type="checkbox" name="hobby[]" value="music" {% if 'music' in modalUserInfo[ 'hobby'] %}{{ 'checked'}}{% endif %}>
                    <label class="form-check-label" for="musiccheckbox1">听音乐</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="novelcheckbox1" type="checkbox" name="hobby[]" value="novel" {% if 'novel' in modalUserInfo[ 'hobby'] %}{{ 'checked'}}{% endif %}>
                    <label class="form-check-label" for="novelcheckbox1">看小说</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="moviecheckbox1" type="checkbox" name="hobby[]" value="movie" {% if 'movie' in modalUserInfo[ 'hobby'] %}{{ 'checked'}}{% endif %}>
                    <label class="form-check-label" for="moviecheckbox1">看电影</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="bodybuiltcheckbox1" type="checkbox" name="hobby[]" value="bodybuilt" {% if 'bodybuilt' in modalUserInfo[ 'hobby'] %}{{ 'checked'}}{% endif %}>
                    <label class="form-check-label" for="bodybuiltcheckbox1">撸铁</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="runcheckbox1" type="checkbox" name="hobby[]" value="run" {% if 'run' in modalUserInfo[ 'hobby'] %}{{ 'checked'}}{% endif %}>
                    <label class="form-check-label" for="runcheckbox1">跑步</label>
                </div>
                </br>
                <label id="work-error" class="error" for="hobby[]"></label>
            </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
    <button id="edit-submit-btn" data-userid="{{modalUserInfo['id']}}" type="submit" class="btn btn-primary">修改</button>
</div>
</form>
</div>
{% endblock %}
